# Docker context ignore
.git
.gitignore
.env
*.pyc
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
.idea/
.dist/
dist/
build/
.venv/
.env*
*.log
.coverage
htmlcov/
*.egg-info/
.devcontainer/
